body{
background-color: black;
}

header{
	color: white;
}

h3{
	color: violet;
}

h1, h2, h3{
	text-align: center;
}

h1{
	text-decoration: overline;
}

h3{
	text-decoration: underline;
}
p{
	color: #e6ffe6;
}

main{
	display: flex;
	flex-direction: row;	
	flex-wrap: no-wrap;
}

article{
	padding: 20px;
	text-align: justify;
}